html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:aliceblue;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar'
    'aside-bar main main'
    'footer footer footer';
    height: 100vh;
    
}


.navbar {
    grid-area: navbar;
    background-color:cornflowerblue;
    color: azure;
}

.navbar h1 {
    color: white;
    text-shadow: 1px 1px 0 black;
    text-align: center;
}

.aside-bar{
    grid-area: aside-bar;
    width: 150px;
    background-color:azure;
    overflow-x: hidden;
    padding-top: 10vh;
    
}

.aside-bar a{
    padding: 2vh 3vh 2vh 4vh;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    justify-content: center;
}

.aside-bar h2 {
    color: black;
    text-align: center;
    text-shadow: 1px 1px 0 azure;
}

.aside-bar a:hover{
    color: #a1a1a1;
}

.main-container {
    grid-area: main;
    padding-bottom: 5vh;
    padding-top: 5vh;
    padding-right: 5vh;      
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10vh;

    
}

.card {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.card:hover {
    box-shadow: 1px 0 10px 0 cornflowerblue;
  
}


.main-container img {    
    width: 30vh;
    height: 30vh;
}

.footer {
    grid-area: footer;
    height: 100%;
    color: white;
    padding: 1vh;
    background-color: cornflowerblue;
    text-align: center;
}

.boton {
    margin: auto;
    transition-duration: 0.4s;
    width: 50%;
    border-radius: 4px;
    
}

.boton:hover {
    background-color: cornflowerblue;
    color: white;
}



@media screen and (max-width: 500px) {
    .aside-bar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .aside-bar a {float: left;}
    div.main {margin-left: 0;}
  }