html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#EEEDDE;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar'
    'aside-bar main main'
    'footer footer footer';

    height: 100vh;

    
}

@media screen and (max-width: 500px) {
    
    .grid-container {
        display: grid;
        grid-template-areas: 
        'navbar'
        'aside-bar'
        'main'
        'footer';
    }
    .aside-bar{
        display: block;
    } 
}
/* navbar */
.navbar {
    grid-area: navbar;
    background-color:#141E27;
    color: azure;
}

.navbar h1 {
    color: white;
    text-shadow: 1px 1px 0 black;
    text-align: center;
}


/* aside-bar */
.aside-bar{
    grid-area: aside-bar;
    width: 150px;
    background-color:#203239;
    overflow-x: hidden;
    padding-top: 10vh;
    
}

.aside-bar a{
    display: flex;
    flex-direction: column;
    padding: 2vh 3vh 2vh 4vh;
    text-decoration: none;
    font-size: 20px;
    color: snow;
}

.aside-bar h2 {
    color: snow;
    text-align: center;
    text-shadow: 1px 1px 0 black;
}

.aside-bar a:hover{
    color: #a1a1a1;
}

/* Main Container */
.main-container {
    grid-area: main;
    padding-bottom: 5vh;
    padding-top: 5vh;
    padding-right: 5vh;      
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-auto-rows: 30rem;
    gap: 1rem;

    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #203239;
    padding-top: 2vh;
    color: snow;
}

.card:hover {
    box-shadow: 1px 0 10px 0 #141E27;
  
}


.main-container img {    
    width: 30vh;
    height: 30vh;
}


/* Botones */
.boton {
    margin: auto;
    transition-duration: 0.4s;
    width: 50%;
    border-radius: 4px;
    background-color: #EEEDDE;
}

.boton:hover {
    background-color:#141E27;
    color: snow;
}

.footer {
    grid-area: footer;
    height: 100%;
    color: white;
    padding: 1vh;
    background-color: #141E27;
    text-align: center;
}

/* @media screen and (max-width: 500px) {
    .grid-container {
        display: grid;
        grid-template-areas: 
        'navbar'
        'aside-bar'
        'main'
        'footer';
    }

    .cards {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .navbar {
        width: 100vh;`
    }
  } */